.chapterTitle {
  font-size: 15px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #1174a5;
  font-size: 12px;
  margin-left: 15px;

}

.titles:hover {
  text-decoration: none;
  background-color: #d2d2d2;
  color: #26a6dd;
}

.allTitle {
  width:80%;
}

.mb-2 {
  font-size: 20px;
  margin-top: 20px;
}

.openaghdefinition-data {
  background-color: #1030480c;
  border: 1px solid #10304810;
  padding-left: 5%;
  padding-right: 5%;
}